language: sh
sudo: false
install:
  - curl -L https://deno.land/x/install/install.sh | bash
  - export PATH="$HOME/.deno/bin:$PATH"
  - export DENO_DIR="$HOME/.deno"
script:
  - deno --version
  - deno cache --unstable test/commands/simple/*.ts
  - deno run --unstable --allow-env=HOME --allow-read=/home/travis/.config/gut --allow-run mod.ts install
  - deno test --unstable --allow-env=HOME --allow-write=/tmp --allow-read=/home/travis/.config/gut,/tmp --allow-run=git --cached-only test/
cache:
  directories:
    - '$HOME/.deno'
notifications:
  email:
    on_success: never
    on_failure: always
